extends ../_layout/_docs.pug

block docs
  h1 Badge
  p Badges can be use to display small informations beside other content.

  .u-mb-3
    span.c-badge.u-mr-1 counter
    span.c-badge.u-bg-warning.u-mr-1 change the background
    span.c-badge.u-bg-primary.u-c-white and the color

  pre.code(data-lang='HTML')
    code
      :highlight(lang="html")
        <span class="c-badge">counter</span>
        <span class="c-badge u-bg-warning">change the color</span>
        <span class="c-badge u-bg-primary u-c-white">change the color</span>

  h2 Sass references

  h3 Variables

  table.o-table
    thead
      tr
        th(scope=col) Name
        th(scope=col) Type
        th(scope=col) Default value
        th(scope=col) Description
    tbody
      tr
        td #[code $c-badge-border-radius]
        td Number unit
        td #[code $g-border-radius]
        td Border-radius for badges
      tr
        td #[code $c-badge-backround-color]
        td Color
        td #[code $g-border-radius]
        td Default background color
      tr
        td #[code $c-badge-text-color]
        td Color
        td Calculated from the background color to respect a good contrast ratio
        td Color of the text

