extends ../_layout/_docs.pug

block variables
  - var slug = 'index'
  - var parent = 'components'

block docs
  h1 Components

  .o-row
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Alert components
        .c-card__footer
          a.c-button.c-button--primary(href="components/alert.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Badge components
        .c-card__footer
          a.c-button.c-button--primary(href="components/badge.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Button components
        .c-card__footer
          a.c-button.c-button--primary(href="components/button.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Callout components
        .c-card__footer
          a.c-button.c-button--primary(href="components/callout.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Card components
        .c-card__footer
          a.c-button.c-button--primary(href="components/card.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Form components
        .c-card__footer
          a.c-button.c-button--primary(href="components/form.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Table components
        .c-card__footer
          span.c-button.c-button--danger Under consideration

    //- .o-col.u-12(class="u-6@md").u-mb-3
    //-   .c-card
    //-     .c-card__header
    //-       .c-card__title.u-h5 Color utilities
    //-     .c-card__body
    //-       | Colors for text, link and background
    //-     .c-card__footer
    //-       a.c-button.c-button--primary(href="utilities/colors.html") View


  p ideas:
    |  Modules - breadcrumb, tabs, accordions, pagination, hero, carousel, cookies,
