extends ../_layout/_docs.pug

block variables
  - var title = 'Glsass - the Sass framework'
  - var description = 'Sass centric framework, customizable and proudly based on Sass Modules. You can also call me Glass 🥃 😉'
  - var slug = 'index'
  - var parent = 'components'

block docs
  h1 Components

  .o-row
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Accordion components
        .c-card__footer
          a.c-button.c-button--primary(href="accordion.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Alert components
        .c-card__footer
          a.c-button.c-button--primary(href="alert.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Badge components
        .c-card__footer
          a.c-button.c-button--primary(href="badge.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Button components
        .c-card__footer
          a.c-button.c-button--primary(href="button.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Callout components
        .c-card__footer
          a.c-button.c-button--primary(href="callout.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Card components
        .c-card__footer
          a.c-button.c-button--primary(href="card.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Form components
        .c-card__footer
          a.c-button.c-button--primary(href="form.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Navbar components
        .c-card__footer
          a.c-button.c-button--primary(href="navbar.html") View
    .o-col.u-12(class="u-6@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Table components
        .c-card__footer
          span.c-button.c-button--danger Under consideration

    //- .o-col.u-12(class="u-6@md").u-mb-3
    //-   .c-card
    //-     .c-card__header
    //-       .c-card__title.u-h5 Color utilities
    //-     .c-card__body
    //-       | Colors for text, link and background
    //-     .c-card__footer
    //-       a.c-button.c-button--primary(href="utilities/colors.html") View

  p ideas:
    |  Modules - breadcrumb, tabs, pagination, hero, carousel, cookies,
