extends ../_layout/_docs.pug

block variables
  - var slug = 'print'
  - var parent = 'utilities'

block docs
  h1 Print

  p This file contains several rules to improve the render in the print view.
    br
    | The content is fully inspired by #{''}
    a(href="https://github.com/inuitcss/inuitcss/blob/master/utilities/_utilities.print.scss" target="_blank" rel="noopener noreferrer") InuitCSS
    | .
