extends ../_layout/_docs.pug

block variables
  - var title = 'Glsass - the Sass framework'
  - var description = 'Sass centric framework, customizable and proudly based on Sass Modules. You can also call me Glass 🥃 😉'
  - var slug = 'introduction'
  - var parent = 'getting-started'

block docs
  h1 Introduction

  p Glsass (spell it simply Glass) is a Sass framework based on ITCSS for extensible and responsive front development.
    br
    | The framework provides generics/starter rules, a grid system, extensible
    |  components and utilities classes, with a global project architecture.

  p Since Glsass is focused on a #[code SCSS] environment, there is not download archive,
    |  no CDN or compiled CSS file.

  p
    strong It's up to you to build you own Sass project by using only what you need!

  .o-row

    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Installation
        .c-card__footer
          a.c-button.c-button--primary(href="installation.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Architecture
        .c-card__footer
          a.c-button.c-button--primary(href="architecture.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 More about it
        .c-card__footer
          a.c-button.c-button--primary(href="about.html") View
