extends ../_layout/_docs.pug

block variables
  - var slug = 'overview'
  - var parent = 'settings'

block docs
  h1 Settings

  p The settings are the "core" of the framework, because changing one unique variable
    |  can affect a lot of classes and rules.
    br
    | The variables are separated in several files to organize by "categories". When
    |  you import it, there is the files in the folder:

  pre.code(data-lang='SCSS')
    code
      :highlight(lang="scss")
        // ~glsass/src/settings/_index.scss
        $g-enable-variables: true !default;

        @forward "settings.core";
        @forward "settings.colors";
        @forward "settings.icons";
        @forward "settings.variables" with ($g-enable-variables: $g-enable-variables);

  .c-callout.c-callout--danger
    h2.u-h5 Why the #[code settings.ui] is not forwarded?

    p
      | Since the UI file contains variables depending of the others settings and some functions from tools,
      |  it cannot be set with functions that not exist yet.
      br
      | You cannot use the function #[code meta.call()] from the built-in modules of Sass, because the function
      |  is executed at the call, not yen the variables are set (it will result as an error).

    p.u-mb-0 For the release of the v1 of Glsass, it's still possible that UI settings are moved elsewhere
      |  or need to be set differently.

  pre.code(data-lang='SCSS')
    code
      :highlight(lang="scss")
        // If every settings files was forwarded, it will result to have
        // a variable with a string value equal to `cv(black)`, not the color `#000`
        @use "~glsass/src/settings" with (
          $g-color-black: #111,
          $g-form-background-color: cv(black) // × wrong, will equal to `cv(black)`
        );


        // The variables overriding must be done in two times
        @use "~glsass/src/settings" with (
          // add your core/colors/icons settings
          $g-color-black: #111,
          ...
        )

        // Import only the tools that you need to set the variables
        @use "~glsass/src/tools/tools.global" as *;
        @use "~glsass/src/settings/settings.ui" with (
          $g-form-background-color: cv(black) // ✓ correct, will equal to `#111`
        );


  .o-row
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Core
        .c-card__footer
          a.c-button.c-button--primary(href="../settings/core.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Colors
        .c-card__footer
          a.c-button.c-button--primary(href="../settings/colors.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Icons
        .c-card__footer
          a.c-button.c-button--primary(href="../settings/icons.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 UI
        .c-card__footer
          a.c-button.c-button--primary(href="../settings/ui.html") View
    .o-col.u-12(class="u-4@md").u-mb-3
      .c-card
        .c-card__header
          .c-card__title.u-h5.u-mb-0 Variables
        .c-card__footer
          a.c-button.c-button--primary(href="../settings/variables.html") View
