/// ========================================================================
/// #CORE
/// ======================================================================== */

@use "sass:list";

@use "../tools/tools.map" as _map;

// This core file sets up framework’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.

// Fonts
$g-fonts-google: () !default;
$g-font-family-map: () !default;
$g-font-family-map: list.join(
  $g-font-family-map,
  (
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  )
);

// Default (body) rules
$g-font-size-base: 16px !default; // Assumes the browser default, typically `16px`
$g-font-size-base-rem: 1rem !default;
$g-font-line-height-base: 1.5 !default;

// Spacing
//
// Control the default styling of most UI elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $g-spacers map, should you need more variation.
$g-spacer: $g-font-size-base-rem * $g-font-line-height-base !default; // 24
$g-spacers: (
  0: 0,
  // 0 - flush
    1: $g-spacer * 0.25,
  // 6 - tiny or xs
    2: $g-spacer * 0.5,
  // 12 - small or s
    3: $g-spacer,
  // 24 - medium or m
    4: $g-spacer * 2,
  // 48 - large or l
    5: $g-spacer * 3,
  // 72 - huge or xl
);

$g-spacers-negative: _map.negativify-map($g-spacers) !default;

// $g-spacing-unit-factor-tiny:   1 !default;   // 6px
// $g-spacing-unit-factor-small:  2 !default;   // 12px
// $g-spacing-unit-factor:        4 !default;   // 24px
// $g-spacing-unit-factor-large:  8 !default;   // 48px
// $g-spacing-unit-factor-huge:   16 !default;  // 96px
// + micro / mega

// https://speckyboy.com/naming-conventions-sizes-scalable-cs

// Heading rules
$g-headings-font-size-h1: $g-font-size-base-rem * 3 !default; // 48
$g-headings-font-size-h2: $g-font-size-base-rem * 2.4 !default; // 38.4
$g-headings-font-size-h3: $g-font-size-base-rem * 1.75 !default; // 28
$g-headings-font-size-h4: $g-font-size-base-rem * 1.5 !default; // 24
$g-headings-font-size-h5: $g-font-size-base-rem * 1.25 !default; // 20
$g-headings-font-size-h6: $g-font-size-base-rem * 1 !default; // 16

$g-headings-margin-bottom: $g-spacer / 2 !default;
$g-headings-color: null !default;
$g-headings-font-family: null !default;
$g-headings-font-weight: 700 !default;
$g-headings-font-style: null !default;

$g-headings-styles: (
  1: (
    // baseline 2.5vr - 60px
      font-size: $g-headings-font-size-h1,
    line-height: $g-spacer * 2.5 / $g-headings-font-size-h1,
  ),
  2: (
    // baseline 2vr - 48px
      font-size: $g-headings-font-size-h2,
    line-height: $g-spacer * 2 / $g-headings-font-size-h2,
  ),
  3: (
    // baseline 1.5vr - 36px
      font-size: $g-headings-font-size-h3,
    line-height: $g-spacer * 1.5 / $g-headings-font-size-h3,
  ),
  4: (
    // baseline 1.5vr - 36px
      font-size: $g-headings-font-size-h4,
    line-height: $g-spacer * 1.5 / $g-headings-font-size-h4,
  ),
  5: (
    // baseline 1vr - 24px
      font-size: $g-headings-font-size-h5,
    line-height: $g-spacer / $g-headings-font-size-h5,
  ),
  6: (
    // baseline 1vr - 24px
      font-size: $g-headings-font-size-h6,
    line-height: $g-spacer / $g-headings-font-size-h6,
  ),
) !default;

// Grid system
// Grid breakpoints
$g-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  tb: 768px,
  md: 992px,
  ml: 1200px,
  lg: 1400px,
  xl: 1920px,
) !default;

// Grid containers
$g-grid-container-max-widths: (
  sm: 540px,
  tb: 720px,
  md: 960px,
  ml: 1140px,
  lg: 1280px,
  xl: 1440px,
) !default;

// Grid columns
$g-grid-columns: 12 !default;
$g-grid-gutter-width: 1rem !default;
