@use "tools/tools.global" as *;

.p-addplate {
  position: relative;
  padding: 1.5rem;
  overflow: hidden;
  background-image: radial-gradient(
    circle at top left,
    #e0ecdf,
    #9bc7d1,
  );
  border-radius: 12px;

  @include mq {
    padding: 66px 0 65px 70px;
  }

  &__inner {
    @include mq {
      max-width: 527px;
    }
  }

  &__image {
    display: none;

    @include mq {
      position: absolute;
      top: 50%;
      right: -24px;
      display: block;
      width: 388px;
      height: 252px;
      object-fit: contain;
      transform: translateY(-50%);
    }
  }
}
