@use "settings/settings.ui" as ui;

@use "tools/tools.spacing" as spacing;
@use "tools/tools.global" as *;

$p-inputaddon-border-radius: ui.$g-form-border-radius;
$p-inputaddon-border-width: 1px;
$p-inputaddon-border-color: ui.$g-form-border-color;

$p-inputaddon-focus-border-color: cv(secondary);
$p-inputaddon-focus-shadow-width: ui.$g-form-focus-shadow-width;
$p-inputaddon-focus-shadow-color: rgba(cv(secondary), .25);

.p-inputaddon {
  position: relative;
  display: flex;
  width: 100%;
  padding: spacing.add-space(2);
  overflow: hidden;
  background-color: cv("white");
  border: $p-inputaddon-border-width solid $p-inputaddon-border-color;
  border-radius: $p-inputaddon-border-radius;

  &:focus-within {
    border-color: $p-inputaddon-focus-border-color;
    box-shadow: 0 0 0 $p-inputaddon-focus-shadow-width $p-inputaddon-focus-shadow-color;
  }

  input:not([type=submit]) {
    display: block;
    width: 100%;
    margin-right: spacing.add-space();
    border: 0;

    &:focus {
      outline: 0;
    }
  }

  [type=submit] {
    padding: .5rem 1.25rem;
  }
}
