extends _layout.pug

block content
  .p-docs
    .p-docs__sidebar.u-bg-light
      div
        a(href="/glsass-previous")
          img(src="../assets/medias/logo-reverse.svg", alt="Glsass logo" width=72).u-mb-2
        ul.o-list-bare
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'getting-started' ? true : false))
              summary.c-accordion__header Getting started
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../getting-started/introduction.html") Introduction
                li.o-list-bare__item
                  a(href="../getting-started/installation.html") Installation
                li.o-list-bare__item
                  a(href="../getting-started/architecture.html") Architecture ITCSS
                li.o-list-bare__item
                  a(href="../getting-started/about.html") More about it

          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'settings' ? true : false))
              summary.c-accordion__header Settings
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../settings/overview.html") Overview
                li.o-list-bare__item
                  a(href="../settings/core.html") Core
                li.o-list-bare__item
                  a(href="../settings/colors.html") Colors
                li.o-list-bare__item
                  a(href="../settings/icons.html") Icons
                li.o-list-bare__item
                  a(href="../settings/ui.html") UI
                li.o-list-bare__item
                  a(href="../settings/variables.html") Variables
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'base' ? true : false))
              summary.c-accordion__header Base
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../base/generic.html") Generic
                li.o-list-bare__item
                  a(href="../base/elements.html") Elements
                li.o-list-bare__item
                  a(href="../base/objects.html") Objects
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'layout' ? true : false))
              summary.c-accordion__header Layout
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../layout/grid.html") Grid
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'components' ? true : false))
              summary.c-accordion__header Components
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../components/accordion.html") Accordion
                li.o-list-bare__item
                  a(href="../components/alert.html") Alert
                li.o-list-bare__item
                  a(href="../components/badge.html") Badge
                li.o-list-bare__item
                  a(href="../components/button.html") Button
                li.o-list-bare__item
                  a(href="../components/callout.html") Callout
                li.o-list-bare__item
                  a(href="../components/card.html") Card
                li.o-list-bare__item
                  a(href="../components/form.html") Form
                li.o-list-bare__item
                  a(href="../components/navbar.html") Navbar
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'tools' ? true : false))
              summary.c-accordion__header Tools
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../tools/concept.html") Concept
          li.o-list-bare__item
            details.c-accordion.u-mb-2(open=(parent === 'utilities' ? true : false))
              summary.c-accordion__header Utilities
              ul.o-list-bare.c-accordion__body.u-p-1.u-mb-0
                li.o-list-bare__item
                  a(href="../utilities/concept-api.html") Concept / API
                li.o-list-bare__item
                  a(href="../utilities/borders.html") Borders
                li.o-list-bare__item
                  a(href="../utilities/colors.html") Colors
                li.o-list-bare__item
                  a(href="../utilities/columns.html") Columns
                li.o-list-bare__item
                  a(href="../utilities/displays.html") Displays
                li.o-list-bare__item
                  a(href="../utilities/flex.html") Flex
                li.o-list-bare__item
                  a(href="../utilities/headings.html") Headings
                li.o-list-bare__item
                  a(href="../utilities/links.html") Links
                li.o-list-bare__item
                  a(href="../utilities/overflows.html") Overflows
                li.o-list-bare__item
                  a(href="../utilities/positions.html") Positions
                li.o-list-bare__item
                  a(href="../utilities/sizings.html") Sizings
                li.o-list-bare__item
                  a(href="../utilities/spacings.html") Spacings
                li.o-list-bare__item
                  a(href="../utilities/texts.html") Texts
                li.o-list-bare__item
                  a(href="../utilities/visually-hidden.html") Visually hidden
                li.o-list-bare__item
                  a(href="../utilities/print.html") Print
                li.o-list-bare__item
                  a(href="../utilities/debug.html") Debug

    .p-docs__content
      .o-layout.u-pt-3.u-mb-5
        block docs

      .o-layout
        p.u-c-muted
          a(href='https://github.com/johannpinson/glsass' target="_blank" rel="noopener noreferrer") GitHub
          |  · Developed by #{''}
          a(href="https://twitter.com/johannpinson" target="_blank" rel="noopener noreferrer") Johannn Pinson
          |  · Version #{version}
