block global
  - var domain = 'https://johannpinson.github.io/glsass-previous/'
  - var url = domain
  - var version = '0.0.6'

block variables
  - var title = 'Glsass - the Sass framework'
  - var description = 'Sass centric framework, customizable and proudly based on Sass Modules. You can also call me Glass 🥃 😉'
  //- - var ua = 'GTM-M99XRH5'
  - var slug = ''
  - var parent = ''

if slug == parent
  if slug == 'index'
    - var url = domain
  else
    - var url = domain + slug + '.html'
else
  - var url = domain + parent + '/' + slug + '.html'

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='robots' content='index, follow')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='author' content='Johann Pinson')
    meta(name='description' content= description)
    meta(property='og:url' content= url)
    meta(property='og:title' content= title)
    meta(property='og:description' content= description)
    if slug != parent
      <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">
      <link rel="manifest" href="../site.webmanifest">
      <link rel="mask-icon" href="../safari-pinned-tab.svg" color="#02aab0">
    else
      <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
      <link rel="manifest" href="site.webmanifest">
      <link rel="mask-icon" href="safari-pinned-tab.svg" color="#02aab0">
    <meta name="msapplication-TileColor" content="#02aab0">
    <meta name="theme-color" content="#02aab0">
    // inject:css
    // endinject
    // inject:js
    // endinject
  body
    //- include ./_analytics.pug

    if slug != 'index'
      .p-debug.c-button.c-button--primary.c-button--small.js-debug-baseline Toogle debug

    block content

    //- footer
