@use "../../tools/tools.spacing" as spacing;
@use "../../tools/tools.global" as *;

$c-help-margin-top: spacing.add-space(1) !default;

$c-help-font-color: cv(text, muted) !default;
$c-help-font-size: 0.875rem !default;

.c-form {
  &__help-text,
  &__feedback {
    width: 100%;
    margin-top: $c-help-margin-top;
    color: $c-help-font-color;
    font-size: $c-help-font-size;
    line-height: spacing.adjust-vr(1, $c-help-font-size, $c-help-margin-top);
  }

  &__feedback {
    display: none;
    padding-left: spacing.add-space();
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 0.75rem;

    &--valid {
      color: cv("success");
      background-image: url(iv("valid"));
    }

    &--invalid {
      color: cv("danger");
      background-image: url(iv("invalid"));
    }
  }
}
